<div class="dashboard-container">
    <h1 class="dashboard-title">Admin Dashboard</h1>
    <form class="dashboard-form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-field">
                <label>Hotel Name</label>
                <input type="text" [(ngModel)]="hotelName" name="hotelName">
            </div>
            <div class="form-field">
                <label>City</label>
                <input type="text" [(ngModel)]="city" name="city">
            </div>
        </div>

        <div class="form-row">
            <div class="form-field">
                <label>Address</label>
                <input type="text" [(ngModel)]="address" name="address">
            </div>
            <div class="form-field">
                <label>Room Count</label>
                <input type="number" [(ngModel)]="roomCount" name="roomCount">
            </div>
        </div>
        <div class="error">
            <p *ngIf="hotelError" class="Error-text">{{hotelError}}</p>
        </div>
        <button type="submit" class="submit-btn"> Add Hotel </button>
    </form>
    <div class="hotels-section">
        <h2 class="section-title">All Hotels</h2>

        <div *ngIf="hotels.length > 0; else noHotels">
            <div class="hotel-card" *ngFor="let hotel of hotels">
                <div class="hotel-info">
                    <h3>{{ hotel.hotelName }}</h3>
                    <p>{{ hotel.address }}</p>
                    <p> City: {{ hotel.city || 'N/A' }} | Rooms: {{ hotel.numberOfRooms ?? 'N/A' }} </p>
                    <span class="status">{{ hotel.status }}</span>
                </div>

                <div class="hotel-actions">
                    <button class="manager-btn" (click)="openAddManager(hotel.id)"> Add Manager </button>
                    <button class="delete-btn" (click)="openDeleteHotel(hotel.id)"> Delete </button>
                </div>
            </div>
        </div>
        <ng-template #noHotels>
            <p class="no-hotels">No hotels available</p>
        </ng-template>
    </div>
</div>

<div class="modal-backdrop" *ngIf="showManagerModal || showDeleteModal"></div>

<div class="modal" *ngIf="showManagerModal">
  <h2>Add Manager</h2>
  <input type="email" placeholder="Manager Email" [(ngModel)]="managerEmail"/>
  <input type="password" placeholder="Password" [(ngModel)]="managerPassword" />
  <input type="password" placeholder="Confirm Password" [(ngModel)]="managerConfirmPassword" />
  <div class="modal-actions">
    <button class="primary" (click)="addManager()">Add</button>
    <button class="secondary" (click)="closeModals()">Cancel</button>
  </div>
</div>

<div class="modal" *ngIf="showDeleteModal">
  <h2>Are you sure?</h2>
  <p>This action cannot be undone.</p>
  <div class="modal-actions">
    <button class="danger" (click)="deleteHotel()">Delete</button>
    <button class="secondary" (click)="closeModals()">Cancel</button>
  </div>
</div>
