.login-container {
    width: 99vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3e322b;
}

.soft-card {
    background: rgba(235, 228, 228, 0.9);
    border-radius: 28px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.comfort-header {
    text-align: center;
    margin-bottom: 32px;
}

.comfort-title {
    font-size: 2rem;
    color: #8b6655;
}

.soft-field {
    margin-bottom: 22px;
}

.field-container {
    position: relative;
    border: 1.5px solid rgba(240, 206, 170, 0.4);
    border-radius: 14px;
    transition: 0.3s;
}

.field-container:focus-within {
    border-color: #f0ceaa;
}

.soft-field input {
    width: 100%;
    padding: 18px 16px;
    border: none;
    background: transparent;
    outline: none;
}

.soft-field label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    pointer-events: none;
}

.soft-field input:focus+label,
.soft-field input:not(:placeholder-shown)+label {
    top: 9px;
    font-size: 12px;
    color: #cf4200bd;
}

.field-container:focus-within .field-accent {
    width: 100%;
}

.comfort-button {
    width: 100%;
    height: 52px;
    border-radius: 14px;
    border: none;
    background: #cda57d;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.button-loader {
    display: none;
}

.comfort-link {
    font-size: 14px;
    color: #3e322b;
    text-decoration: none;
    cursor: pointer;
}

.comfort-signup {
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    color: rgba(139, 102, 85, 0.7);
}

.gentle-error {
    font-size: 13px;
    margin-top: 6px;
    display: none;
}