<header class="hero">
  <div class="slideshow">
    <img [src]="images[currentIndex]" alt="Hotel Image">
  </div>

  <div class="hero-content">
    <h1>Experience Luxury & Comfort</h1>
    <p>Premium hotel management for unforgettable stays</p>

    <form class="booking-form" (ngSubmit)="search()">
      <input type="text" placeholder="City" name="city" [(ngModel)]="city">
      <input type="date" name="checkIn" [(ngModel)]="checkIn">
      <input type="date"  name="checkOut" [(ngModel)]="checkOut">
      <select name="rooms" [(ngModel)]="rooms">
        <option value="">Rooms</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <button type="submit">Search</button>
    </form>
  </div>
</header>
