<div class="login-container">
  <div class="soft-card">
    
    <div class="comfort-header">
      <h1 class="comfort-title">Welcome back</h1>
    </div>

    <form class="comfort-form" id="loginForm" (ngSubmit)="onSubmit()" >
      <div class="soft-field">
        <div class="field-container">
          <input type="email" id="email" name="email" autocomplete="email" placeholder=" " [(ngModel)]="email">
          <label for="email">Email address</label>
        </div>
        <span class="gentle-error" id="emailError"></span>
      </div>

      <div class="soft-field">
        <div class="field-container">
          <input type="password" id="password" name="password" autocomplete="password" placeholder=" " [(ngModel)]="password">
          <label for="email">Password</label>
        </div>
        <span class="gentle-error" id="passwordError"></span>
      </div>
      <button type="submit" class="comfort-button">
        <span class="button-text">Sign in</span>
      </button>
    </form>

    <div class="comfort-signup">
      <span >Don't Have An Account?</span>
      <a routerLink="/signin" class="comfort-link">Sign In</a>
    </div>
  </div>
</div>
